/* DEVICE BREAKPOINTS */

/*
320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs

*/

@media (max-width: 992px) {

    .btn-abrir-menu {
        display: block;
    }

    .midias-sociais, .menu-desktop  {
        display: none;
    }
    

}

@media (max-width: 900px) {

    .btn-abrir-menu {
        display: block;
    }

    .midias-sociais, .menu-desktop  {
        display: none;
    }

    .conteudo-main img {
        display: none;
    }

    .texto-main {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 926px) {

    .btn-abrir-menu {
        display: block;
    }

    .midias-sociais, .menu-desktop  {
        display: none;
    }

    .conteudo-main img {
        display: none;
    }

    .texto-main {
        margin-top: 20vh;
    }    


}


@media (max-width: 800px) {
    .btn-abrir-menu {
        display: block;
    }

    .midias-sociais, .menu-desktop  {
        display: none;
    }

    .conteudo-main img {
        display: none;
    }

    .texto-main {
        margin-top: 20vh;
    }
    
    section .sobre  {
        display: flex;
        flex-direction: column;
    }

    .texto-section h3 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }

    /* PROJETOS */
    section .todos-projetos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    } 

    

    /* FOOTER */

    .div-footer {
        display: flex;
        justify-content: center;
    }

    .contatos h4 {
        text-align: center;
        margin-bottom: 10px;
    }

    .contatos-filho p {
        font-size: 15px;
    }
    .contatos-filho {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .abaixo-linha {
        display: flex;
        flex-direction: column;
    }

    .abaixo-linha {
        font-size: 14px;
    }
    .midias-sociais-footer {
        font-size: 1rem;
    }

}